.amend {
  text-align: center;
}
.amend label {
  font-size: 20px;
}
.amend input {
  border: 1px solid #ccc;
  width: 300px;
  height: 30px;
  margin-top: 15px;
  padding-left: 10px;
}
.amend button {
  width: 200px;
  height: 40px;
  color: #fff;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  outline: none;
  border: none;
  background: #e15671;
  margin-top: 30px;
  margin-left: 45px;
}
